body{
    overflow: hidden;
}
.container-full{
    min-width: 100%;
    position: absolute;
    background-color: #dadade;
    /* background-color: #6f74dd; */
    padding-left: 310px;
    padding-top: 50px;
    position: fixed;
    height: 100%;
    z-index: 0;
    color: #000;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    right: 0;
    bottom: 0;
    left: 0;

}
.container-project{
    width: 300px;
    background-color: #000066;
    padding-left: 65px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    border-right: 2px solid #fff;
    padding-top: 65px;
    z-index: 2;
}
.container-icon{
    width: 60px;
    height: 100%;
    background-color: #00003b;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    border-right: 2px solid #000;
    padding-top: 65px;
    font-size: 28px;
    color: #fff;
    z-index: 2;
}
.project-name{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    background-color: #00003b;
    /* background-color: #442995; */
    /* height: 70px; */
    color: #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #000;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    height: 60px;
    z-index: 3;
}
.icon-items:hover{
    cursor: pointer;
    background-color: #000066;
}
.icon-items{
    padding: 5px 0px;
}
.icon-active{
    background-color: #000066;
}
.project-items{
    width: 102%;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    position: relative;
    left: -5px;
    text-decoration: unset;
}
.project-items:hover{
    background-color: #00003b;
    text-decoration: unset;
}
.project-details{
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 0px;
    padding-left: 315px;
    color: #000;
}
.card-list{
    /* min-height: 200px; */
    width: 300px;
    background-color: #000066;
    color: #fff;
    border-radius: 5px;
    padding-top:45px;
    /* padding: 53px 5px 5px 5px; */
    position: relative;
    margin: 5px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}
.add-new-list{
    width: 300px;
    background-color: #000066;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin: 5px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
}
.add-new-list:hover{
    background: #00003b;
}
.card-title{
    height: 45px;
    width: 100%;
    background-color:#442995;
    border-bottom: #00003b 3px solid;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    font-weight: bold;
}
.card-setting-button{
    font-size: 6px;
    position: relative;
    float: right;
    right: 2px;
    padding: 10px 0px;
    cursor: pointer;
}
.card-setting-button:hover{
    color: #dadade;
}
.activity-card-list{
    width: 280px;
    border: #00003b 1px solid;
    margin: 10px;
    position: relative;
    border-radius: 4px;
    background: #fff;
    color: #000;
    padding: 5px;
    cursor: pointer;
}
.activity-card-list:hover{
    background:#dadade;
}
.activity-card-list:active{
    cursor: move;
}
.activity-card-title{
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.activity-card-edit{
    margin: 5px;
    float: right;
    background: none;
    border: none;
}
.new-card{
    margin: 10px;
    cursor: pointer;
}
.new-card:hover{
    color: #dadade;
}
.popup-modal{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
}
.popup-content{
    text-align: center;
    background: #fff;
    width: 30%;
    /* height: 45%; */
    /* display: block; */
    position: relative;
    top: 10%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 50px 4px;
    margin-bottom: 400px;
}
.popup-content-children{
    text-align: center;
    background: #dadade;
    width: 20%;
    position: fixed;
    top: 20%;
    padding: 15px;
    right: 15%;
    border-radius: 5px;
}
h4{
    color: #000;
    font-weight: bold;
}
.close-button{
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}
.popup-form{
    padding: 0px 10px;
    text-align: left;
    color:#000;
}
.popup-footer{
    /* float: right; */
    position: relative;
    display: contents;
    text-align: right;
}
.popup-panel-title{
    font-size: 16px;
    margin: 0px 0px 10px 0px;
}
.popup-panel-content{
    padding-left: 20px;
    font-size: 12px;
}
.btn-custom{
    padding: 2px 7px;
}
.form-update{
    cursor: text !important;
}
.chat-box{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    left: 0px;
    background: #dadade;
    padding: 2px;
    margin-bottom: 10px;
}
.container-chat{
    border: 2px solid #f7f7f7;
    height: 95%; 
    width: 99%; 
    position: relative;
}
.chat-input{
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
    padding: 5px;
}
.chat-body{
    width: 100%;
    height: 85%;
    position: relative;
    margin-top: 15px;
    /*background: red;*/
    overflow-y: scroll;
}
.user-settings{
    width: 60%;
    /*position: relative;*/
    margin-left: 20px;
}

.chat-feed-sender{
    min-height: 30px;
    background: #f7f7f7;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    white-space: normal;
    margin: 10px;
}
.chat-feed-receiver{
    min-height: 30px;
    background: #d2ffea;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    white-space: normal;
    margin: 10px;
    float: right;
}
.chat-sender{
    display: block;
    font-weight: bold;
}
.chat-time{
    display: block;
    font-weight: bold;
    font-style: italic;   
}
.notification-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.circle-button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #000066;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.circle-button:hover{
    width: 61px;
    height: 61px;
    background: #03183b;
}
.notification-bar{
    position: fixed;
    height: 100%;
    width: 300px;
    right: 0px;
    top: 0px;
    /*background: #dadade;*/
    background: #fff;
    border: 2px solid #f7f7f7;
    z-index: 2;
    display: none;
    box-shadow: 5px 5px 15px 5px #000;
}
.header-notification{
    position: relative;
    padding: 10px;
}
.notification-items{
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
}
.notification-items:hover{
    background: #f7f7f7;
}
.close-button{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.select2 {
    width:100%!important;
}
.userProject{
    display: inline;
}
.userProjectBundle{
    padding:5px;
    width:30px;
    border-radius:15px !important;
    text-transform:uppercase;
    font-weight:bold;
    margin-left: 2px;
}
.upload-image{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #dadade;
    padding: 5px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.upload-image:active{
    box-shadow: 0px 0px 1px 1px #dadade;
}